// .Moviecarousel{
//     height: 700px;
//     width: 100%;
//     display: block;
// }

// .card{
//     width: 100%;
//     height: 400px;
//     background: #333;
//     color: #fff;
//     font-size: 30px;
//     margin: 0 20px;
//     display: flex;
//     justify-content: center;
//     align-items: center;
// }