// .main {
//     .block-account {
//         width: 30%;
//         .block-title {
//         }
//         .block-content {
//             ul {
//                 list-style: none;
//                 li {
//                     margin: 2px 0;
//                     background: red;
//                     // &::after {
//                     //     content: "";
//                     //     border-top: 19px solid transparent;
//                     //     border-bottom: 19px solid transparent;
//                     //     border-left: 25px solid #f0efee;
//                     //     transform: translateX(160%);
//                     // }
//                 }
//                 a {
//                     padding-left: 5px;
//                 }
//             }
//         }
//     }
// }
// .my-account {
//     width: 70%;
// }

.userProfile--layout {
  min-height: 100vh;
}

.site-layout-content {
  min-height: 280px;
  padding: 24px;
  background: #fff;
}

#components-layout-demo-top .logo {
  float: left;
  width: 120px;
  height: 31px;
  margin: 16px 24px 16px 0;
  background: rgba(255, 255, 255, 0.3);
}

.ant-row-rtl #components-layout-demo-top .logo {
  float: right;
  margin: 16px 0 16px 24px;
}